*{margin: 0px;
padding: 0px;}

.container{padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
width: 1320px;
height: 50px;
flex-shrink: 0;
}
.game-tittle{display: flex;
    gap: 20px;}
li{
    list-style: none;
}
ul{
    display: flex;
    gap: 20px;
}
.game-icon{  margin-top: 0px;
    width: 80px;
height: 40px;
flex-shrink: 0;
}
.game-h2{text-align: center;
    font-family: Work Sans;
    font-size: 40px;
   margin-top: 00px;
    font-weight: 700;
 }
 .game-desc{color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
 font-weight: 500;
 }
.game-img{
    width: 20px;
height: 20px;
flex-shrink: 0;
}
.game-images{
    display: flex;
gap: 15px;
margin-top: -10px;

background: rgba(11, 2, 35, 0.10);
padding: 0px 10px;
height: auto;
width: auto;
padding: 10px;
}

.game-images:hover{border: 1px solid black;}
.goat-container{display: flex;
   margin-left: -90px;
    justify-content: space-around;
    padding: 70px;}
    .goat-tittle{
        margin-top: 50px;
        margin-left: 180px;
    }
    .goat-h3{color: #0B0223;
       
        font-family: Work Sans;
       font-size: 40px;   
        font-weight: 600;
        text-transform: uppercase;}
.goat-h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 90px;
  
    font-weight: 800;
 
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
    .goat-para{color: #534C64;
        font-family: Work Sans;
        font-size: 15px;
       padding: 10px;
        font-weight: 500;
       }

    .goat-img{
        width: 400px;
        height: 446px;
        flex-shrink: 0;
    margin-top: -70px;
}   
    .sign-container{
        display: flex;
        margin-top: -180px;
        margin-left: 190px;
        padding: 10px;
    gap: 10px;
    }
    .sign-btn{border-radius: 48px;
        background-color: #F948B2;
        padding: 10px;
        color: white;
        width: 80px;
    }
    .sign-btn2{border-radius: 48px;
        background: #4EC5F7;
        width: 100px;
        padding: 10px;
        color: white;}

        .online-content{margin-top: 90px;
        text-align: center;}
        .online-h4{color: #0B0223;
         
            font-family: Work Sans;
            font-size: 40px;
         
            font-weight: 700;
           }
.online-para{
    color: #534C64;
 
    font-family: Work Sans;
    font-size: 18px;
margin-top: 30px;
    font-weight: 400;
    }

    .card-container{
        display: flex;
        justify-content: center;
        gap: 10px;margin-top: 20px;
    }
    .card-pic{width: 250px;
    height: 300px;}
    .watch-now{font-size: 20px;
    font-weight: 300;
    color: hotpink;}
    .card-content i{font-size: 30px;color: white;}
.card-img{position: relative;margin-left: 40px;
}
.card-para{margin-left: 30px;color: #534C64;
    
    font-family: Work Sans;
    font-size: 20px;
    
    font-weight: 500;
   
}
.card-content{
    position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #2f26466b;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
flex-direction: column;
}
.card-img:hover .card-content{
    visibility: visible;
    opacity: 1;
}

.play-container{display: flex;

    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.online-funny{background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;}
.online-para{color: #534C64;
  
    font-family: Work Sans;
    font-size: 18px;
  
    font-weight: 400;
  }
  .play-pic{width: 500px;
    height: 600px;
    flex-shrink: 0;position: relative;}

.play-img{position: relative;
    margin-top: 70px;}
.play-desc{position: absolute;
    bottom: 100px;
    left:-190px;
    width: 130px;
    height: 130px;
   
    border-radius: 8px;
    border: 10px solid #FFF;
 }
.play-tittle{margin-top: 70px;}
.sticker-container{ margin-top: 200px;
   display: grid;grid-template-columns: repeat(5,1fr);
    
}
.sticker-tittle{background-color: #FFF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px ;
     flex-wrap: nowrap; 
     margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;}
.sticker-tittle:hover{border: 1px solid red;
    border-radius: 18px;
    color: red;}
.sticker-desc{
    width: 30px;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    height: 30px;
    flex-shrink: 0;border-radius: 50px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.action-game{display:grid;grid-template-columns: repeat(5,1fr);
    justify-content: center;
    gap: 10px;
     align-items: center;
     margin-left: 150px;
     margin-right: 20px;}

.action-gamer{display: flex;
    justify-content: center;
    width: 100%;gap: 10px;}
.sticker-btn{width: 100%;}
footer{ background: #0B0223;
padding: 50px;margin-top: 40px;}
.footer-container{ display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
   gap: 30px;}

.footer-h4{width: 60px;
    height: 40px;
  color: white;
font-family: Work Sans;
font-size: 45px;
margin-top: -20px;
font-weight: 700;

   }
   .footer-img{width: 86.041px;
    height: 40px;
    }
    .web-container{display: grid;grid-template-columns: repeat(6,1fr);
       margin-top:20px ;
    gap: 10px;}



.web-tittle{color: #FFF;
    margin-top: 20px;
   
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;}


.icon-container{display: flex;
justify-content: center;
align-items: center;
gap: 50px;}
.icon-img{width: 50px;
    height: 40px;
    flex-shrink: 0;
margin-top: 40px;}

.policy-container{display: grid;grid-template-columns: repeat(4,1fr);
justify-content: center;gap: 50px;
color: rgba(255, 255, 255, 0.60);
margin-top: 60px;
font-family: Work Sans;
font-size: 16px;

font-weight: 500;

}
.policy-btn{color: rgba(255, 255, 255, 0.60);
 margin-top: 50px;
    font-family: Work Sans;
    font-size: 16px;
 text-align: center;
    font-weight: 500;
   }

@media screen and (max-width:576px) {.container{padding: 0px;
   flex-direction: column;
    justify-content: center;
    gap: 0px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
height: auto;width: auto;
}
   
ul{flex-direction: column;
    justify-content: center;
    margin-left: 100px;}

.game-icon{  margin-top: 0px;
    width: 40px;
height: 40px;
flex-shrink: 0;
margin-left: 110px;
margin-top: 40px;margin-bottom: 20px;

}.game-tittle{padding: 10px;
     flex-direction: column;
      gap: 20px;
      margin-left: 40px;}
.game-h2{text-align: center;
    font-family: Work Sans;
    font-size: 20px;
   margin-top: -70px;
    font-weight: 700;}
    .goat-container{flex-direction: column;
        margin-left: -140px;
         justify-content: space-around;
         padding: 0px;}
         .game-nav{margin-left: 40px;}
         .game-images{margin-left:100px;
            width: 50%;}
         .goat-h1{text-align: center;
            font-family: Work Sans;
            font-size: 30px;
          
            font-weight: 800;
            margin-top: 30px;}

.goat-h3{font-size: 20px;
    margin-left: 120px;}
.goat-para{margin-left: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;}
.goat-img{width: 311px;
    height: 446px;
    flex-shrink: 0;
margin-left: 30px;
margin-top: 40px;}
.sign-tittle{margin-top: -330px;
    margin-right: 0px;
    text-align: center;}
.sign-container{padding: auto;margin-left: 140px;}
.online-content{width: 50%;
    margin: auto; margin-top: 90px;
    text-align: center;}
    .online-h4{font-size: 16px;
        margin-top: 200px;
        padding: 5px;}
    .online-funny{
        font-size: 15px;}
    .online-para{
        font-size: 9px;}
    .card-container{flex-direction: column;margin-left: 60px;
        gap: 25px;
        margin-right: 70px;}
        .card-para{margin-left: 60px;font-size: 17px;}
        .card-content{flex-direction: column;height:300px;width: 250px;}
.play-container{flex-direction: column;
    margin-top: -150px;}
.online-h4{font-size: 40px;}
.online-para{font-size: 15px;text-align: start;
    width: 250px;}
.play-pic{height: 300px;width: 300px;}
.play-post{height: 150px;
    width: 150px;margin-top: 100px;
    margin-left:120px;}
.sticker-container{display: flex;flex-wrap: wrap;width: 100%;}
.action-game{display: grid;grid-template-columns: repeat(3,1fr);}

.sticker-desc{display: grid;
    grid-template-columns: repeat(3,1fr);margin-left: -40px;}
.action-gamer{display: flex;flex-wrap: wrap;}
.web-container{display: grid;grid-template-columns: repeat(2,1fr);
    margin-top: 100px;}
   
   
    .policy-container{grid-template-columns: repeat(2,1fr);}
footer{margin-left: 60px;}


}

